/* stylesheet for implementing media query using a sprite sheet */


@media screen and (min-width: 1201px){

.homer{
	width: 317px; height: 317px; background:url(homer.jpg) 0 0px;
	}
}

@media screen and (min-width: 801px) and (max-width: 1200px){

.homer{
	width: 317px; height: 317px; background:url(homer.jpg) -308px 0;
	}

}

@media screen and (min-width: 401px) and (max-width: 800px){

	.homer{
		width: 317px; height: 317px; background:url(homer.jpg) 0 -308px;
		}

}

@media screen and (max-width: 400px){

	.homer{
		width: 317px; height: 317px; background:url(homer.jpg) -308px -308px;
		}
}

